version: '3'

services:
  Hazelcast-mc:
    image: hazelcast/management-center:latest
    ports:
      - "8090:8090"
    networks:
      - hazelcast
    deploy:
      replicas: 1
    environment:
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
    links:
      - Hazelcast


  Hazelcast:
    image: hazelcast/hazelcast:latest
    ports:
      - "5701:5701"
    networks:
      - hazelcast
    deploy:
      replicas: 2

networks:
    hazelcast:
      driver: bridge